<a href="https://colab.research.google.com/github/NeerajSirvisetti/Cheat_sheets/blob/main/Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basics

## printing and taking inputs

In [1]:
print("Hello Python !!")

Hello Python !!

In [2]:
name = input('Enter Your Name: ')
print("My name is :",name)

Enter Your Name: Neeraj
My name is : Neeraj

In [5]:
# python is case sensitive
nama = 5
Name = 10
# both a and A are different
print("name: ", name ,"\nName: ", Name)

name:  Neeraj
Name:  10

## Data type

In [6]:
# 2. Data Types

# Numeric Types
integer_var = 42
float_var = 3.14
complex_var = 2 + 3j

# String Type
string_var = "Hello, Python!"

# List
my_list = [1, 2, 3, "apple", "banana"]

# Tuple
my_tuple = (4, 5, "orange", "grape")

# Set
my_set = {1, 2, 3, 3, 4}

# Dictionary
my_dict = {"name": "John", "age": 25, "city": "New York"}

# Boolean
is_true = True
is_false = False

# Displaying the values
print("Integer:", integer_var)
print("Float:", float_var)
print("Complex:", complex_var)
print("String:", string_var)
print("List:", my_list)
print("Tuple:", my_tuple)
print("Set:", my_set)
print("Dictionary:", my_dict)
print("Boolean True:", is_true)
print("Boolean False:", is_false)

Integer: 42
Float: 3.14
Complex: (2+3j)
String: Hello, Python!
List: [1, 2, 3, 'apple', 'banana']
Tuple: (4, 5, 'orange', 'grape')
Set: {1, 2, 3, 4}
Dictionary: {'name': 'John', 'age': 25, 'city': 'New York'}
Boolean True: True
Boolean False: False

In [7]:
#Type checking
print(type(integer_var))

<class 'int'>

In [9]:
k = input()
print(type(k))

456
<class 'str'>

## 3. Identifiers

Identifiers are names given to variables, functions, classes, or other entities in Python. They play a crucial role in making your code readable and understandable.

## Rules for Identifiers

1. Must start with a letter (a-z, A-Z) or an underscore (_).
2. Can be followed by letters, digits, or underscores.
3. Case-sensitive (e.g., `myVariable` and `MyVariable` are different).
4. Must not include keywords as variable/Identifiers names

In [13]:
n1ame = "Jonathan"
#int = "hi hello"
#print(int)

k = 45.0

print(n1ame,type(n1ame))
print(k,type(k))

Jonathan <class 'str'>
45.0 <class 'float'>

In [ ]:
_name = "John"
surname = "Doe"

## Operators

In [14]:
#Arithmetic
x = 6
y = 65
z = x-y
print(z)
print(10.4 + 3) # Addition
print(10 - 3) # Subtratcion
print(10 / 3) # Division
print(10 * 3) # Multiplication
print(19.67 // 5) # Floor Division
print(10 ** 3) # Exponentiation (x ** y) raise x to y
print(10 % 3) # Module (returns remainder after division)

-59
13.4
7
3.3333333333333335
30
3.0
1000
1

In [15]:
#Comparision
x, y = 5, 15
# x , y = input().split(" ")
print(x == y) # Is 5 Equal to 15
print(x != y) # Is 5 Not Equal to 15
print(x > y) # Is 5 Greater Than 15
print(x >= y) # Is 5 Greater Than or Equal to 15
print(x < y) # Is 5 Less Than 15
print(x <= y) # Is 5 Less Than or Equal to 15

False
True
False
False
True
True

In [16]:
#Logical
x, y = 15, 15
print(x == y and x == 5) # and Operator: Are Both Statements True
print(x == y or x == 15) # or Operator: Is one of the given Statements True
print(not (x == y)) # is the given statement False i.e not True => evaluates to False and vice versa

False
True
False

In [17]:
#Bitwise
x, y = 10, 12
print(bin(x)) # Binary Representation of the given number
print(bin(y)) # Binary Representation of the given number
print(bin(x & y)) # Binary And Operator (Gives 1 if both bits are 1 else 0)
print(bin(x | y)) # Binary Or Operator (Gives 1 if at least one bit is 1 else 0)
print(bin(y << 2)) # Binary Left Shift Operator (Shifts Bits Left and pads remaining with 0)
print(bin(y >> 3)) # Binary Right Operator (Shifts Bits Right and pads remaining with0)
print(bin(~x)) # Binary Not Operator (Turns 0 bit to 1 and 1 to 0)

0b1010
0b1100
0b1000
0b1110
0b110000
0b1
-0b1011

In [19]:
#Identity
x, y, z = 1, 2, 2

print(id(x),id(y),id(z))
print(x is y) # Check if x and y both point to the same memory address
print(y is z) # Check if y and z both point to the same memory address

133156888084720 133156888084752 133156888084752
False
True

In [20]:
#Membership
x, y = 1, 15
nums = [1, 2, 3, 4]
print(x in nums) # Check if 1 is in the nums list
print(y not in nums) # Check if 15 is not in the nums list

True
True

## Typecasting

In [21]:
result = 19 / 3 # Implicit Typecasting
print(result)
print(type(result))
result = int(result) # Explicit Typecasting
#result = round(result ,2)
print(result)
print(type(result))

6.333333333333333
<class 'float'>
6
<class 'int'>

## Conditional Statements
- if
- if else
- if else ladder (elif)
- nested if else

In [22]:
num = int(input("Enter a number: "))
if num % 2 == 0:
  print("Number is Even")
else:
  print("Number is Odd")

Enter a number: 44
Number is Even

In [23]:
marks = int(input())
if marks > 90 :
  grade = "A"
elif marks > 75 :
  grade = "B"
elif marks > 65 :
  grade = "C"
elif marks > 50 :
  grade = "D"
else :
  grade = "E"

print("The grade for the student is ",grade)

65
The grade for the student is  D

In [24]:
x = 30
if x > 40 :
  if x < 50 :
    print("its nested if example")
else :
  print("Not x less than 40")

Not x less than 40

## Loops
- while
- for
- nested for

In [25]:
num = int(input("Enter a number: "))
current = 1
while current <= 10:
  print("{0} X {1} = {2}".format(num, current, (num * current)))
  current = current + 1

Enter a number: 8
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80

In [26]:
# for <temp_var> in <sequence> :
#range(start,end, step)
num = int(input("Enter a number: "))
for current in range(1, 11):
  print("{0} X {1} = {2}".format(num, current, (num * current)))

Enter a number: 4
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

In [27]:
number = int(input("Enter a number: "))
for current in range(1, number+1):
  for num in range(1,11):
    print("{0} X {1} = {2}".format(current , num , (num * current)))

Enter a number: 4
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

## Loop control statements

In [28]:
# Normal Execution
for x in range(1, 10):
  print(x)

1
2
3
4
5
6
7
8
9

In [29]:
# Using Break
for x in range(1, 10):
  if x == 5:
    break
  print(x)

1
2
3
4

In [30]:
# Using Continue
for x in range(1, 10):
  if x == 5:
    continue
  print(x)

1
2
3
4
6
7
8
9

## Lists

In [ ]:
# Initializing
marks = [50, 99, 78, 88, 90] # Marks of a student with index a roll numbers
print("Marks of student with roll number 0 is:", marks[0])

Marks of student with roll number 0 is: 50

In [ ]:
print("Marks before appending", marks)
marks.append(88)
print("Marks after appending", marks)

Marks before appending [50, 99, 78, 88, 90]
Marks after appending [50, 99, 78, 88, 90, 88]

In [ ]:
print("Marks before deleting last element", marks)
marks.pop()
print("Marks after deleting last element", marks)

Marks before deleting last element [50, 99, 78, 88, 90, 88]
Marks after deleting last element [50, 99, 78, 88, 90]

In [ ]:
print("Marks before deleting first element", marks)
marks.pop(0)
print("Marks after deleting first element", marks)

Marks before deleting first element [50, 99, 78, 88, 90]
Marks after deleting first element [99, 78, 88, 90]

In [ ]:
if 99 in marks: print("A Student Got 99 Marks")
else: print("No Student Got 99 Marks")

A Student Got 99 Marks

In [ ]:
index = marks.index(99)
print(index)

0

In [ ]:
print("Before swapping", marks)
marks[0], marks[1] = marks[1], marks[0]
print("After swapping", marks)

Before swapping [99, 78, 88, 90]
After swapping [78, 99, 88, 90]

In [ ]:
print("First 2 elements", marks[:2])
print("Last 2 elements", marks[-2:])

First 2 elements [78, 99]
Last 2 elements [88, 90]

## Tuple

In [ ]:
# Initialize
months = "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "Novemebr", "December"

In [ ]:
print(months)
print("First Month: ", months[0])

('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'Novemebr', 'December')
First Month:  January

In [ ]:
if "January" in months: print("January is in Months")
else: print("January is not in Months")

January is in Months

In [ ]:
print("First 6 Months", months[:6])

First 6 Months ('January', 'February', 'March', 'April', 'May', 'June')

## Sets

In [ ]:
users = set(["admin", "john"])

In [ ]:
name = input("Enter a username: ")
if name in users:
  print("username is alrady taken")
else:
  users.add(name)
  print("user registered")

Enter a username: yo
user registered

In [ ]:
users.remove('admin')
print("admin removed from registered users")

admin removed from registered users

In [ ]:
print('admin' in users)
print('john' in users)

False
True

## Dictionaries

In [ ]:
students = dict([[100, 'Jane'], [102, 'Ron']])

In [ ]:
roll_no = int(input("Enter student roll number: "))
name = input("Enter student name: ")
students[roll_no] = name
print(students)

Enter student roll number: 25
Enter student name: rev
{100: 'Jane', 102: 'Ron', 25: 'rev'}

In [ ]:
print("Before Deleting Roll No: 101")
print(students)
del students[101]
print("After Deleting Roll No: 101")
print(students)

Before Deleting Roll No: 101
{100: 'Jane', 102: 'Ron', 25: 'rev'}

KeyError: 101

In [ ]:
if 101 in students: print("Student with roll no 101 is in the list")
else: print("Student with roll no 101 is not in the list")

Student with roll no 101 is not in the list

## Comprehensions

In [ ]:
squares = {x: x * x for x in range(1, 11)}

In [ ]:
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
keys = [x for x in squares.keys()]
values = [x for x in squares.values()]

In [ ]:
print(keys)
print(values)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Functions

Perform the following tasks
- Create a dictionary to hold student roll numbers nad name as keys and values
- Create a function to insert a unique roll no and name of students in the dictionary
- Create a function to print all student in the dictionary

In [ ]:
students = {
100: 'Jane',
102: 'Sam'
}
def get_student_info():
  roll_no = int(input("Enter student roll number: "))
  if roll_no in students:
    print('Student with Roll No {0} Already Exists'.format(roll_no))
  else:
    name = input("Enter student name: ")
    students[roll_no] = name

def print_student_info():
  for roll_no in students.keys():
    print("Roll No: {0}, Name: {1}".format(roll_no, students[roll_no]))

In [ ]:
get_student_info()
print_student_info()

Enter student roll number: 12
Enter student name: raven
Roll No: 100, Name: Jane
Roll No: 102, Name: Sam
Roll No: 12, Name: raven

In [ ]:
# Lambda Fuctions
def transfrom(data, opeations):
  for opeation in opeations:
    for index in range(0, len(data)):
      data[index] = opeation(data[index])

data = [1, 2, 3, 4]
increment_by_one = lambda x: x + 1
double = lambda x: x * 2
operations = [increment_by_one, double]
print(data)
transfrom(data, operations)
print(data)

[1, 2, 3, 4]
[4, 6, 8, 10]